<div class='main-info__container'
[routerLink]="['/event']">
    <div class='main-info__form-title'>
        <h1>Текст для проверки отрисовки</h1>
    </div>
        <div >
                    <mat-form-field appearance="outline" >
                    <mat-label>name</mat-label>
                    <input matInput matInput [value] = "formInfo.name"  >
                </mat-form-field>
            </div>
        <div >
                <mat-form-field appearance="outline">
                    <mat-label>place</mat-label>
                    <input matInput [value] = "formInfo.place" >
                </mat-form-field>
        </div>

            <div  >
                <mat-form-field appearance="outline">
                    <mat-label>data</mat-label>
                    <input matInput [value] = "formInfo.data" >
                </mat-form-field>
            </div>
        </div>

        <div class='main-info__form-row'>
            <div class='main-info__form-textarea'>
                <div class='main-info__form-description'>
                    <input  >
                </div>
            </div>
        </div>

        <div class='main-info__form-row _flex-end'>
            <div class='main-info__form-button'>
                <button mat-button mat-raised-button [color]="'primary'">Cancel</button>
            </div>
            <div class='main-info__form-button _flex-end'>
                <button mat-button mat-raised-button [color]="'primary'">Save</button>
            </div>
        </div>


