<div class='calendar'
     [routerLink]="['/calendar']">

    <div class='calendar__title'>
        <h3>Calenlar</h3>
    </div>
    <div class="calendar__year">
        <button class="calendar__year-button " mat-mini-fab [color]="'link'">
            <div class="calendar__year-wrapper"><-</div>
        </button>
        <div class="calendar__year-wrapper">
            <h4>year</h4>
        </div>
        <button class="calendar__year-button " mat-mini-fab [color]="'link'">
            <div class="calendar__year-wrapper">-></div>
        </button>
    </div>
    <div class="calendar__container">
    <div class="card card1">1</div>
    <div class="card card2">2</div>
    <div class="card card3">3</div>
    <div class="card card4">4</div>
    <div class="card card5">5</div>
    <div class="card card6">6</div>
    <div class="card card7">7</div>
    <div class="card card8">8</div>
    <div class="card card9">9</div>
    <div class="card card10">10</div>
    <div class="card card11">11</div>
    <div class="card card12">12</div>
    <div class="card card13">13</div>
    <div class="card card14">14</div>
    <div class="card card15">15</div>
    <div class="card card16">16</div>
    <div class="card card17">17</div>
    <div class="card card18">18</div>
    <div class="card card19">19</div>
    <div class="card card20">20</div>
    <div class="card card21">21</div>
    <div class="card card22">22</div>
    <div class="card card23">23</div>
    <div class="card card23">24</div>
    <div class="card card23">25</div>
    <div class="card card23">26</div>
    <div class="card card23">27</div>
    <div class="card card23">28</div>
    <div class="card card23">29</div>
    <div class="card card23">30</div>
</div>
    <div class="calendar__buttons">
    <button class="calendar__buttons-mat " mat-stroked-button [color]="'primary'">
        <svg-icon class="calendar__buttons-icon" src="assets/icons/compass.svg"></svg-icon>
       Добавить событие
    </button>
    <button class="calendar__buttons-mat " mat-stroked-button [color]="'primary'">
        <svg-icon class="calendar__buttons-icon" src="assets/icons/addatask.svg"></svg-icon>
        Добавить задачу
    </button>
    </div>
</div>
