@import "../../../assets/styles/common/shared";
.panel {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
        width: 468px;
        height: 72px;
        background: @color-main-violet-dark;
        margin-bottom: 10px;
        color: @color-white;
        text-align: center;
        line-height: 40px;
        font-size: 24px;
    }
    &__info {
        &:hover {
            background: @color-main-violet-light;
        }
    }

    &__events {
        width: 100%;

        &-button {
            border-radius: 16px;
            height: 48px;
        }
        & .mat-expansion-panel {
            box-shadow: none;
        }
        & .mat-expansion-panel-header.mat-expanded {
            height: 48px;
        }

        &-title {
            width: 100%;
            //flex-basis: 50%;
            justify-content: space-around;
        }
        &__info {
            border-block: 2px solid @color-main-gray-middle;

            &-input {
                flex-direction: row;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    &__tasks {
        width: 100%;
        //justify-content: space-around;
        flex-direction: row;

        &-button {
            border-radius: 16px;
            height: 48px;
        }
        & .mat-expansion-panel {
            box-shadow: none;
        }
        & .mat-expansion-panel-header.mat-expanded {
            height: 48px;
        }
        &-title {
            width: 100%;
            justify-content: space-around;
        }
    }
    &__info {
        border-block: 2px solid @color-main-gray-middle;

        &-input {
            flex-direction: row;
            display: flex;
            justify-content: space-around;
        }
        &-inputText {
            color: @color-main-violet-middle;
        }
    }
}
