<div class="popup"   *ngIf='popupVisible'>

    <div class="popup__title">
        <h4>{{dateString}}</h4>
    </div>
    <div class="popup__events">

        <mat-expansion-panel >

            <mat-expansion-panel-header>
                <mat-panel-title class="popup__events-title">
                    <svg-icon class="popup__buttons-icon" src="assets/icons/compass-dark.svg"></svg-icon>
                    События
                </mat-panel-title>

                <!--                <mat-panel-description> This is a summary of the content </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p>стрижка</p>
            <p>встреча</p>
        </mat-expansion-panel>
        <button class="popup__button " mat-stroked-button [color]="'primary'">
            Подробнее
            <svg-icon class="popup__buttons-icon" src="assets/icons/arrowRight.svg"></svg-icon>

        </button>
    </div>
    <div class="popup__tasks">
        <mat-expansion-panel >

            <mat-expansion-panel-header>
                <mat-panel-title class="popup_tasks-title">
                    <svg-icon class="popup__buttons-icon" src="assets/icons/suitcase.svg"></svg-icon>
                    Задачи
                </mat-panel-title>

                <!--                <mat-panel-description> This is a summary of the content </mat-panel-description>-->
            </mat-expansion-panel-header>

            <p>стрижка</p>
            <p>встреча</p>
        </mat-expansion-panel>
        <button class="popup__button " mat-stroked-button [color]="'primary'">
            Подробнее
            <svg-icon class="popup__buttons-icon" src="assets/icons/arrowRight.svg"></svg-icon>

        </button>
    </div>
</div>
