<div class="panel">
    <div class="panel__title">
        <h4>{{ date }}</h4>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="panel__events-title">
                <svg-icon class="panel__buttons-icon" src="assets/icons/compass-dark.svg"></svg-icon>
                {{ dayInfoModel?.eventsNumber }}
                Событий
                <button class="panel__button" mat-stroked-button [color]="'primary'">
                    Подробнее
                    <svg-icon class="panel__buttons-icon" src="assets/icons/arrowRight.svg"></svg-icon>
                </button>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel__events" *ngFor="let event of dayInfoModel.events">
            <div class="panel__info" [ngClass]="completion(event.date)">
                <div class="panel__info-inputText">
                    <div class="panel__info-inputText">{{ event.title }}</div>
                    <div class="panel__info-input">
                        <svg-icon class="panel__info-icon" src="assets/icons/watch.svg"> </svg-icon>
                        <div class="panel__info-inputText">{{ timeString(event.date) }}</div>
                    </div>

                    <div class="panel__info-input">
                        <svg-icon class="panel__info-icon" src="assets/icons/place.svg"> </svg-icon>
                        <div class="panel__info-inputText">{{ event.place }}</div>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <div class="panel__tasks" *ngFor="let tasks of dayInfoModel.tasks">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="panel_tasks-title">
                    <svg-icon class="panel__buttons-icon" src="assets/icons/suitcase.svg"></svg-icon>
                    {{ dayInfoModel?.taskNumber }} Задач
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="panel__info" [ngClass]="completion(tasks.date)">
                <div class="panel__info-inputText">
                    <div class="panel__info-inputText">{{ tasks.title }}</div>
                    <div class="panel__info-input">
                        <svg-icon class="panel__info-icon" src="assets/icons/watch.svg"> </svg-icon>
                        <div class="panel__info-inputText">{{ timeString(tasks.date) }}</div>
                    </div>

                    <div class="panel__info-input">
                        <svg-icon class="panel__info-icon" src="assets/icons/place.svg"> </svg-icon>
                        <div class="panel__info-inputText">{{ tasks.finished }}</div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <button class="panel__button" mat-stroked-button [color]="'primary'">
            Подробнее
            <svg-icon class="panel__buttons-icon" src="assets/icons/arrowRight.svg"></svg-icon>
        </button>
    </div>
</div>
