<div class='event-view ' [routerLink]="['/event-view']">
    <div class='event-view__title'>
        <h3></h3>
    </div>
<div class="event-view__button _flex-end">

        <button class="event-view__button-mat " mat-flat-button [color]="'primary'">
            <div class="event-view__button-wrapper">Следующее</div>
        </button>
    <button mat-stroked-button [color]="'primary'" >
        <svg-icon class="event-view__buttons-icon" src="assets/icons/edit.svg">  </svg-icon>
            Редактировать

    </button>

    <button mat-stroked-button [color]="'primary'" >
        <svg-icon class="event-view__buttons-icon" src="assets/icons/delete.svg">  </svg-icon>
            Удалить
       </button>
</div>
    <div class="event-view__info">
        <p>Время</p>
        <p>Место</p>
        <p>Название</p>

    </div>
</div>

<router-outlet></router-outlet>

